{
 :preferred-workflow :todo

 ;; Git is only available in web app
 ;; Git settings
 :git-pull-secs 60
 :git-push-secs 10
 ;; Whether to enable git auto push
 :git-auto-push true

 ;; The app will ignore those directories or files.
 ;; E.g. "/archived" "/test.md"
 :hidden []


 :default-templates
 {:journals "rizhi"}

 ;; Whether to enable hover on tooltip preview feature
 ;; Default is true, you can also toggle this via setting page
 :ui/enable-tooltip? true

 :all-pages-public? true


 :ui/show-command-doc? true
 :ui/hide-block-bullet-path? false

 ;; Add your own commands to speedup.
 ;; E.g. [["js" "Javascript"]]
 :commands
 []

 ;; Macros replace texts and will make you more productive.
 ;; For example:
 ;; Add this to the macros below:
 ;; {"poem" "Rose is $1, violet's $2. Life's ordered: Org assists you."}
 ;; input "{{{poem red,blue}}}"
 ;; becomes
 ;; Rose is red, violet's blue. Life's ordered: Org assists you.
 :macros {"poem" "Rose is $1, violet's $2. Life's ordered: Org assists you."
          "progress"
          "[:span [:progress {:value $1 :max $2 
                         :style {:width 200 
                                 :margin-right 4
                                 :cursor \"default\"}}] [:small \"$1/$2\"]]"}

 :start-of-week 6

 :markdown/version 2

 :feature/enable-journals? true
 :default-home {:page "journal" :sidebar "刊"}
 :ui/show-brackets? true
 :journal/page-title-format "YYYY-MM-dd"
 :journal/file-name-format "YYYY-MM-dd"
 :favorites ["刊" "Logseq 模板"]
 :publishing/all-pages-public? true
 :feature/enable-encryption? false

 :default-queries
 {:journals
  [{:title "🔨 NOW"
    :query [:find (pull ?h [*])
            :in $ ?start ?today
            :where
            [?h :block/marker ?marker]
            [(contains? #{"NOW" "DOING"} ?marker)]
            [?h :block/page ?p]
            [?p :block/journal? true]
            [?p :block/journal-day ?d]
            [(>= ?d ?start)]
            [(<= ?d ?today)]]
    :inputs [:14d :today]
    :result-transform (fn [result]
                        (sort-by (fn [h]
                                   (get h :block/priority "Z")) result))
    :collapsed? false}
   {:title "📅 NEXT"
    :query [:find (pull ?h [*])
            :in $ ?start ?next
            :where
            [?h :block/marker ?marker]
            [(contains? #{"NOW" "LATER" "TODO"} ?marker)]
            [?h :block/ref-pages ?p]
            [?p :block/journal? true]
            [?p :block/journal-day ?d]
            [(> ?d ?start)]
            [(< ?d ?next)]]
    :inputs [:today :7d-after]
    :collapsed? false}]}


     :shortcuts {:go/backward "ctrl+left", :go/search "ctrl+o", :go/home "f a", :go/forward "ctrl+right", :go/journals "f s"}
}